* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a:hover {
    color: white;
}

@media (min-width: 577px) {

    .slick-slide {
        margin: 0px 20px;
    }

    #section-solutions {
        margin-top: 10%;
    }

    .mobile-toggler {
        display: none;
    }

    .arrows-desktop {
        position: relative;
        top: 200px;
    }

    .rightBtn,
    .leftBtn {
        cursor: pointer;
    }

    .tech-dropdown-item {
        height: 50px;
        width: 200px;
        background-color: #191919;
        color: white;
    }

    .mkt-dropdown-item {
        height: 50px;
        width: 200px;
        background-color: #191919;
        color: white;
    }

    .dropdown-menu {
        background-color: #191919;
        z-index: 1000;
    }

    .dropdown-item {
        z-index: 1000;
    }

    .active-menu-link {
        color: white;
    }

    .horizontal-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .horizontal-list li {
        display: inline-block;
        margin-right: 10px;
    }

    .logo-desktop {
        width: 150px !important;

    }

    .customer-logos {
        margin-top: 3%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .what-is-second-text {
        margin-top: 10%;
    }

    .what-is-first-text-container {
        padding-top: 30%;
    }

    .relative-title-mobile {
        display: none;
    }

    .std-text {
        color: grey;
        font-size: 18px;
    }


    .std-text-white {
        color: white;
        font-size: 18px;
    }

    .alp-photo-2-mobile {
        display: none;
    }

    .version-one {
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-position: right;
    }

    .version-two {
        background-image: url('../images/background-2.png');
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        top: 0;
        left: 100%;
    }

    .relative-div {
        position: relative;
        overflow: hidden;
    }

    .section-head {
        height: 900px;
        width: 1800px;
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .section-head h1 {
        font-weight: lighter;
        font-weight: 200 !important;
        font-size: 64px;
        line-height: 90%;
        letter-spacing: -0.03em;
    }

    .navbar-nav {
        color: white !important;
    }

    a.nav-link {
        color: white !important;
    }

    .std-btn {
        background-color: black;
        color: white;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .std-btn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 12px 31px;
    }

    .solutions-title {
        font-weight: 900;
        font-size: 56px;
    }

    #section-solutions {
        height: 600px;

    }

    .card-solutions {
        height: 336px;
        background-color: #191919;
        padding: 5%;
        /* margin: 10%; */
        position: relative;
    }

    .card-solutions:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .arrow-solutions-desktop {
        position: absolute;
        right: 0;
        top: 0;
    }

    .arrow-solutions-mobile {
        display: none;
    }

    .selo {
        position: absolute;
        top: 25%;
        left: 17%;
    }

    .alpinista-title {
        font-size: 56px;
    }

    .clients-section {
        background-color: white;
        color: black;
        height: 370px;
    }

    .footer {
        background-color: #191919;
    }

    .site-header {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 65%, rgba(25, 25, 25, 1) 83%, rgba(43, 40, 40, 1) 100%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(250px);
    }

    .main-menu-item {
        color: grey !important;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.02em;

    }

    .nav-item {
        margin-right: 7%;
        margin-left: 7%;
    }

    .active-menu-item {
        border-bottom: 1px solid white;
    }

    ul {
        list-style-type: none;
    }

    .relative-title {
        position: absolute;
        top: 2.5%;
        left: 40%;
    }

    .section-what-is {
        position: relative;
    }

    .form-section {
        height: 1200px;
        background-image: url('../images/bg-form.png');
        background-repeat: no-repeat;
        background-position: right;
    }

    .form-title {
        font-size: 56px;
    }

    .std-input {
        display: block;
        width: 100%;
        background-color: black;
        border: 1px solid white;
        padding: 12px 31px;
        color: white;
    }

    .std-label {
        font-size: 18px;
    }

    .attach-btn {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .file-label {
        display: block;
        width: 100%;
        background-color: black;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .attach-btn+label {
        cursor: pointer;
    }

    .footer-ul li {
        margin-top: 10%;
    }

    .grey-input {
        display: block;
        width: 100%;
        border: 1px solid white;
        background-color: #191919;
        border: 1px solid white;
        padding: 12px 31px;
        color: white;
    }

    .white-btn {
        width: 100%;
        background-color: white;
        color: black;
        padding: 2% 20%;
    }

    a {
        text-decoration: none;
        color: gray;
    }

    .what-is-first-text {
        margin-left: 5%;
    }

    .arrows-mobile {
        display: none;
    }




}

@media (max-width: 576px) {

    .clients-section {
        background-color: white;
        color: black;
        height: 220px;
    }

    .solutions-text {
        margin-left: 2%;
        margin-right: 2%;
    }

    .solutions-title {
        font-weight: 900;
        font-size: 24px;
    }

    #section-solutions {
        margin-top: 30%;
    }

    .mobile-toggler {
        padding-top: 5%;
        text-align: right;
    }

    .header-right-side {
        display: none;
    }

    .hamburguer {
        width: 2em;
        height: 2em;
        z-index: 1;
        cursor: pointer;
    }

    .lines {
        background-color: #fff;
        width: 80%;
        height: 2px;
        margin: 5px 0;
        transition: all 450ms ease-in;
    }

    .main-title {
        font-size: 32px;
    }

    .relative-title {
        display: none;
    }

    .section-what-is {
        position: relative;
        margin-top: 20%;
    }

    .relative-title-mobile {
        background-color: black;
        color: white;
        position: absolute;
        top: 18%;
        left: 7%;
        padding: 6%;
    }

    .alp-photo-2-desktop {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        color: black;
        z-index: 999;
    }

    .section-head-mobile-one {
        height: 300px;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /*  .section-head-mobile-two {
        height: 200px;
        background-image: url('../images/background-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }  */

    .version-two {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .arrows-desktop {
        display: none;
    }

    .relative-div {
        position: relative;
        overflow: hidden;
    }

    .form-title {
        font-size: 24px;
    }

    .std-input {
        display: block;
        width: 100%;
        background-color: black;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .std-label {
        font-size: 18px;
    }

    .attach-btn {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .file-label {
        display: block;
        width: 100%;
        background-color: black;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .attach-btn+label {
        cursor: pointer;
    }

    .white-btn {
        width: 100%;
        background-color: white;
        color: black;
        padding: 2% 20%;
    }

    a {
        text-decoration: none;
        color: gray;
    }

    .footer {
        background-color: #191919;
    }

    ul {
        list-style-type: none;
    }

    .grey-input {
        display: block;
        width: 100%;
        border: 1px solid white;
        background-color: #191919;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .logo-top {
        padding-top: 5%;
    }

    .std-text {
        color: grey;
        font-size: 14px;
    }

    .std-text-white {
        color: white;
        font-size: 14px;
    }

    .card-solutions {
        margin-top: 3%;
        width: 100%;
        height: 336px;
        background-color: #191919;
        padding: 5%;
    }

    .card-solutions:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

    .std-btn {
        background-color: black;
        color: white;
        border: 1px solid white;
        padding: 12px 31px;
    }

    .std-btn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 12px 31px;
    }

    .footer {
        margin-top: 25%;
    }

    .what-is-first-text {
        margin: 5%;
    }

    .what-is-first-text-container {
        padding-top: 10%;
    }

    .desktop-menu {
        display: none;
    }

    .proposal-text-container {
        cursor: pointer;
        text-align: right;
    }

    .arrow-solutions-desktop {
        display: none;
    }

    .arrow-solutions-mobile {
        position: absolute;
        right: 0;
        top: 0;
    }

    .selo {
        position: absolute;
        top: 5%;
        left: -20%;
    }

    .slick-slide {
        margin: 0px 20px;
    }

}



.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0px;
    left: 150px;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

